<div class="card-trip">
  <img src= <%= movie.poster_url %> />
  <div class="card-trip-infos">
    <div>
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
      <p><%= bookmark.comment %></p>
    </div>
    <h2 class="card-trip-pricing"><%= movie.rating %><i class="fa-solid fa-star"></i></h2>
    <p><%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></p>
            </div>
  </div>
</div>
